/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.container{
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  background: #000;
}

.fill{
  fill: #000;
}

tabBarStyle{
  height: 60,
}